/* header */

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/* mapa de cursos */

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}

/* video */

.videoSobre .container{
  display: flex;
}
.videoSobre-video{
  flex-grow: 1;
}

.videoSobre-sobre{
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  text-align: center;
}
.videoSobre-sobre-list{
  flex-grow: 1;
}

/* footer */

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5% ;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
  height: 260px;
}

/* mobile ~ media querie */

@media screen and (max-width: 768px){
  
  .cabecalhoPrincipal .container, .cabecalhoPrincipal-nav {
      align-items: initial;
      flex-direction: column;
      text-align: center;
  }

  .cabecalhoPrincipal-nav-link-app {
      order: -1;
  }

  .conteudoPrincipal-cursos {
      flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
      width: 100%;
  }

  .videoSobre .container {
      flex-direction: column;
  }

  .videoSobre-video {
      margin: 0 auto;
  }

  .rodapePrincipal-navMap-list {
      height: auto;
  }
  
  .rodapePrincipal-patrocinadores .container {
      display: flex;
      flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list {
      align-items: center;
      width: 100%;
  }

  .rodapePrincipal-contatoForm, .rodapePrincipal-contatoForm-fieldset {
      width: 100%;
      justify-content: center;
  }
}